/* &display=swap */

@import "null.css";
/* @font-face {
	font-family: "Comforter";
	src: url("../fonts/Comforter-Regular.woff2") format("woff2"), url("../fonts/Comforter-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
} */

@font-face {
	font-family: "Lato-Black";
	src: url("../fonts/Lato-Black.woff2") format("woff2"), url("../fonts/Lato-Black.woff") format("woff");
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Lato-Bold";
	src: url("../fonts/Lato-Bold.woff2") format("woff2"), url("../fonts/Lato-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Lato-Regular";
	src: url("../fonts/Lato-Regular.woff2") format("woff2"), url("../fonts/Lato-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
body {
	font-family: "Lato-Black";
	font-size: 20px;
}
h1 {
	font-family: "Lato-Black";
	color: #1e212c;
	line-height: 60px;
	font-size: 46px;
	text-align: left;
	vertical-align: Center;
}
p {
	font-family: "Lato-Regular";
	color: #424551;
	font-weight: 800;
	font-size: 16px;
	text-align: left;
	line-height: 26px;
}
.text {
	font-family: "Lato-Bold";
	font-size: 20px;
	font-weight: 900;
	color: #1e212c;

	vertical-align: top;
}

li {
	font-family: "Lato-Regular";

	color: #424551;
}
.vtor {
	font-family: "Lato-Regular";
	color: #424551;
	font-size: 16px;
}
a {
	font-family: "Lato-Regular";
	text-decoration: underline;
	color: grey;
}
